html {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    background-color: $white;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url('/images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: bottom left;

    @include breakpoint-up(large) {
        background-size: 46%;
        background-position: bottom left -40px;
    }
 
    
}