.testimonial {
    display: grid;
    grid-template-rows: 1.2fr 1fr;
    gap: 1rem;
    height: 100%;

    @include breakpoint-up(large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0;
        max-width: 90rem;
        margin: auto;
    }
}

// image section of the slider ----------------------------------

.testimonial__img {
    //position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 1rem;
    overflow-x: hidden;
    background-image: url('/images/pattern-bg.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include breakpoint-up(large) {
        grid-column-start: 2;
        margin: 1rem 0;
        max-width: 770px;
        z-index: 2;
        transform: translateX(-6.25rem);
    }
}

.testimonial__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 42rem;
}

.testimonial__img-wrapper__inner {
    position: relative;
    height: 17rem;
    width: 17rem;
    max-height: 80%;
    max-width: 80%;
}

// the actual image

.testimonial-img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
    box-shadow: 0 1rem 2.5rem -2.5rem rgba(36, 36, 113, 0.495001);
    

    @include breakpoint-up(large) {
        height: auto;
        max-width: 80%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    }
}

.testimonial__btn-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 4rem;
    background-color: $white;
    box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
    

    @include breakpoint-up(large) {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        bottom: 2rem;
    }
}

.testimonial__prev {
    padding: 0.875rem 1.125rem 0.875rem 0.875rem;
    border: 0;
    border-radius: 50%;
    background-color: $white;
    
    &:hover {
        background-color: $grayishBlue;
        cursor: pointer;
    }

    @include breakpoint-up(large) {
        padding: 1.25rem 1.5rem 1.25rem 1.25rem;
    }
}

.testimonial__next {
    padding: 0.875rem 0.875rem 0.875rem 1.125rem;
    border: 0;
    border-radius: 50%;
    background-color: $white;
    font-size: 0.75rem;

    &:hover {
        background-color: $grayishBlue;
        cursor: pointer;
    }

    @include breakpoint-up(large) {
        padding: 1.25rem 1.25rem 1.25rem 1.5rem;
    }
}

.testimonial__btn-icon {
    display: block;
    height: 12px;

    @include breakpoint-up(large) {
        height: 16px;
    }
}

.testimonial__copy {
    position: relative;
    overflow-x: hidden;


    @include breakpoint-up(large) {
        grid-column-start: 1;
        grid-row-start: 1;
        transform: translateX(6.25rem);
        z-index: 5;
        overflow: visible;
    }
}

.testimonials__copy-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3.5rem 2rem 4.75rem 2rem;
    text-align: center;
    line-height: 1.5rem;

    @include breakpoint-up(large) {
        padding: 0;
        align-items: flex-start;
    }
}

.testimonials__text {
    max-width: 28rem;
    margin: 0 auto;
    padding-bottom: 1.25rem;
    color: $darkBlue;
    font-weight: $light;

    @include breakpoint-up(large) {
        max-width: 39.5rem;
        margin: 0;
        padding-bottom: 2rem;
        text-align: left;
        font-size: 2rem;
        line-height: 2.75rem;
        
    }
}

.testimonials__author {
    margin: 0;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: $bold;
    color: $darkBlue;

    @include breakpoint-up(large) {
        font-size: 1.25rem;
        line-height: 2.25rem;
        text-align: left;
    }
}

.testimonials__position {
    display: block;
    font-weight: $light;
    color: $grayishBlue;

    @include breakpoint-up(large) {
        display: inline-block;
        padding-left: 0.5rem
    }
}