html {
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  background-image: url("/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: bottom left;
}

@media (min-width: 64rem) {
  body {
    background-size: 46%;
    background-position: bottom left -40px;
  }
}

.container {
  height: 100vh;
  width: 100vw;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonial {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.2fr 1fr;
      grid-template-rows: 1.2fr 1fr;
  gap: 1rem;
  height: 100%;
}

@media (min-width: 64rem) {
  .testimonial {
    -ms-grid-columns: 1fr 1.3fr;
        grid-template-columns: 1fr 1.3fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0;
    max-width: 80rem;
    margin: auto;
  }
}

.testimonial::after {
  content: url("/images/image-ian.jpg") url("/images/image-jenna.jpg") url("/images/image-john.jpg") url("/images/image-olivia.jpg") url("/images/image-tanya.jpg");
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.testimonial__img__container {
  margin: 1rem;
  overflow-x: hidden;
  background-image: url("/images/pattern-bg.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 64rem) {
  .testimonial__img__container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    margin: 1rem 2rem 1rem 0;
  }
}

.testimonial__img-wrapper {
  position: relative;
  height: 25rem;
  width: 25rem;
  max-height: 85%;
  max-width: 85%;
}

@media (min-width: 64rem) {
  .testimonial__img-wrapper {
    height: 34rem;
    width: 34rem;
    max-width: 75%;
  }
}

.testimonial__img {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.3125rem;
  background-image: url("/images/image-tanya.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 1rem 2.5rem -2.5rem rgba(36, 36, 113, 0.495001);
          box-shadow: 0 1rem 2.5rem -2.5rem rgba(36, 36, 113, 0.495001);
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

@media (min-width: 64rem) {
  .testimonial__img {
    -webkit-box-shadow: 0 2.5rem 3rem -1.75rem rgba(36, 36, 113, 0.495001);
            box-shadow: 0 2.5rem 3rem -1.75rem rgba(36, 36, 113, 0.495001);
  }
}

.testimonial__img.fade-to-right {
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.testimonial__btn-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 4rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
          box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  z-index: 7;
}

@media (min-width: 64rem) {
  .testimonial__btn-container {
    -webkit-box-shadow: 0px 1rem 1.25rem -0.625rem rgba(36, 36, 113, 0.0991313);
            box-shadow: 0px 1rem 1.25rem -0.625rem rgba(36, 36, 113, 0.0991313);
    left: 4rem;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.testimonial__prev {
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}

.testimonial__prev:hover {
  background-color: #babacf;
  cursor: pointer;
}

.testimonial__prev:focus {
  outline: none;
  border: 2px solid #202046;
  background-color: #babacf;
  cursor: pointer;
}

@media (min-width: 64rem) {
  .testimonial__prev {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.testimonial__next {
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}

.testimonial__next:hover {
  background-color: #babacf;
  cursor: pointer;
}

.testimonial__next:focus {
  outline: none;
  border: 2px solid #202046;
  background-color: #babacf;
  cursor: pointer;
}

@media (min-width: 64rem) {
  .testimonial__next {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.testimonial__btn-icon {
  display: block;
  margin: auto;
  height: 12px;
}

@media (min-width: 64rem) {
  .testimonial__btn-icon {
    height: 16px;
  }
}

.testimonial__copy {
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 64rem) {
  .testimonial__copy {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    overflow: visible;
  }
}

.testimonial__copy-wrapper {
  width: 120%;
  padding: 0.75rem 2rem;
  background-image: url("/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center top;
  text-align: center;
}

@media (min-width: 25rem) {
  .testimonial__copy-wrapper {
    padding: 1.5rem 2rem;
    background-size: 7.5rem;
  }
}

@media (min-width: 48rem) {
  .testimonial__copy-wrapper {
    padding: 3rem 2rem;
  }
}

@media (min-width: 64rem) {
  .testimonial__copy-wrapper {
    position: absolute;
    left: 5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 20rem;
    padding: 0;
    background-position: left 6rem top;
    text-align: left;
  }
}

.testimonial__copy-wrapper__inner {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.testimonial__copy-wrapper__inner.fade-to-left {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testimonial__text {
  max-width: 28rem;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #202046;
}

@media (min-width: 25rem) {
  .testimonial__text {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 48rem) {
  .testimonial__text {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 64rem) {
  .testimonial__text {
    max-width: unset;
    margin: 2rem 0;
    padding: 0;
    text-align: left;
    font-size: 1.75rem;
    line-height: 2.75rem;
  }
}

.testimonial__author {
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #202046;
}

@media (min-width: 25rem) {
  .testimonial__author {
    font-size: 1.125rem;
  }
}

@media (min-width: 48rem) {
  .testimonial__author {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}

.testimonial__position {
  display: block;
  font-weight: 300;
  color: #babacf;
}

@media (min-width: 64rem) {
  .testimonial__position {
    display: inline-block;
    padding-left: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */