html {
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: bottom left;
}

@media (min-width: 61.25rem) {
  .container {
    background-size: 46%;
    background-position: bottom left -40px;
  }
}

.testimonial {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.2fr 1fr;
      grid-template-rows: 1.2fr 1fr;
  gap: 1rem;
  height: 100%;
}

@media (min-width: 61.25rem) {
  .testimonial {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0;
    max-width: 90rem;
    margin: auto;
  }
}

.testimonial__img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  overflow-x: hidden;
  background-image: url("/images/pattern-bg.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 61.25rem) {
  .testimonial__img__container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    margin: 1rem 0;
    max-width: 770px;
    -webkit-transform: translateX(-5.25rem);
            transform: translateX(-5.25rem);
  }
}

.testimonial__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-height: 42rem;
}

.testimonial__img-wrapper__inner {
  position: relative;
  height: 20rem;
  width: 20rem;
  max-height: 85%;
  max-width: 85%;
}

@media (min-width: 61.25rem) {
  .testimonial__img-wrapper__inner {
    height: 34rem;
    width: 34rem;
    max-width: 75%;
  }
}

.testimonial__img {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
  border-radius: 0.3125rem;
  background-image: url("/images/image-tanya.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 1rem 2.5rem -2.5rem rgba(36, 36, 113, 0.495001);
          box-shadow: 0 1rem 2.5rem -2.5rem rgba(36, 36, 113, 0.495001);
}

@media (min-width: 61.25rem) {
  .testimonial__img {
    -webkit-box-shadow: 0px 2.5rem 3rem -1.75rem rgba(36, 36, 113, 0.495001);
            box-shadow: 0px 2.5rem 3rem -1.75rem rgba(36, 36, 113, 0.495001);
  }
}

.testimonial__btn-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 4rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
          box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);
  z-index: 7;
}

@media (min-width: 61.25rem) {
  .testimonial__btn-container {
    -webkit-box-shadow: 0px 1rem 1.25rem -0.625rem rgba(36, 36, 113, 0.0991313);
            box-shadow: 0px 1rem 1.25rem -0.625rem rgba(36, 36, 113, 0.0991313);
    left: 4rem;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.testimonial__prev {
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}

.testimonial__prev:hover {
  background-color: #babacf;
  cursor: pointer;
}

@media (min-width: 61.25rem) {
  .testimonial__prev {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.testimonial__next {
  height: 2.5rem;
  width: 2.5rem;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}

.testimonial__next:hover {
  background-color: #babacf;
  cursor: pointer;
}

@media (min-width: 61.25rem) {
  .testimonial__next {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.testimonial__btn-icon {
  display: block;
  margin: auto;
  height: 12px;
}

@media (min-width: 61.25rem) {
  .testimonial__btn-icon {
    height: 16px;
  }
}

.testimonial__copy {
  position: relative;
  overflow-x: hidden;
  background-image: url("/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center top;
}

@media (min-width: 61.25rem) {
  .testimonial__copy {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -webkit-transform: translateX(5.25rem);
            transform: translateX(5.25rem);
    overflow: visible;
  }
}

.testimonials__copy-wrapper {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  max-height: 42rem;
  padding: 1.5rem 2rem;
  text-align: center;
  line-height: 1.5rem;
}

@media (min-width: 61.25rem) {
  .testimonials__copy-wrapper {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
}

.testimonials__text {
  max-width: 28rem;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #202046;
}

@media (min-width: 25rem) {
  .testimonials__text {
    font-size: 1.25rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 61.25rem) {
  .testimonials__text {
    max-width: 39.5rem;
    margin: 0;
    padding-bottom: 2rem;
    text-align: left;
    font-size: 2rem;
    line-height: 2.75rem;
  }
}

.testimonials__author {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #202046;
}

@media (min-width: 61.25rem) {
  .testimonials__author {
    font-size: 1.25rem;
    line-height: 2.25rem;
    text-align: left;
  }
}

.testimonials__position {
  display: block;
  font-weight: 300;
  color: #babacf;
}

@media (min-width: 61.25rem) {
  .testimonials__position {
    display: inline-block;
    padding-left: 0.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */